@model BillerFormDataset

<h2>Create Biller Form Dataset</h2>

<form asp-action="Create">
    <div class="form-group">
        <label asp-for="DatasetName"></label>
        <input asp-for="DatasetName" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UniqueId"></label>
        <input asp-for="UniqueId" class="form-control" />
    </div>
    <div class="form-group">
        <label>Biller</label>
        @Html.DropDownListFor(model => model.BillerId, (SelectList)ViewBag.BillerList, "Select a Biller", new { @class = "form-control" })
    </div>

    <div class="form-group">
        <label asp-for="CreatedBy"></label>
        <input asp-for="CreatedBy" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="CreatedAt"></label>
        <input asp-for="CreatedAt" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UpdatedBy"></label>
        <input asp-for="UpdatedBy" class="form-control" />
    </div>
    <div class="form-group">
        <label asp-for="UpdatedAt"></label>
        <input asp-for="UpdatedAt" class="form-control" />
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to List</a>
