@model List<BillerFormDataset>
<div class="container mt-5">
    <div class="d-flex justify-content-between mb-3">
        <h1>Biller Form Datasets</h1>
        <a asp-action="Create" class="btn btn-success">Create</a>
    </div>
    <table id="tblData" class="table table-bordered table-striped" style="width:100%">
        <thead>
            <tr>
                <th>Biller Name</th>
                <th>Dataset Name</th>
                <th>Unique Id</th>
                <th>Created By</th>
                <th>Created At</th>
                <th>Updated By</th>
                <th>Updated At</th>
                <th>Actions</th>
            </tr>
        </thead>        
    </table>
</div>

@section scripts{
    <script>
var dataTable;

$(document).ready(function () {
    loadDataTable();
});

function loadDataTable() {
    dataTable = $('#tblData').DataTable({
        "ajax": { url: '/home/getall' },
        "columns": [
            { data: 'billerName' },
            { data: 'datasetName' },
            { data: 'uniqueId' },
            { data: 'createdBy' },
            { data: 'createdAt' },
            { data: 'updatedBy' },
            { data: 'updatedAt' },
            {
                data: 'id',
                "render": function (data) {
                    return `<div class="w-75 btn-group" role="group">
                     <a href="/home/details?id=${data}" class="btn btn-primary mx-2"> <i class="bi bi-pencil-square"></i> Details</a>               
                     <a href="/home/edit?id=${data}" class="btn btn-secondary mx-2"> <i class="bi bi-pencil-square"></i> Edit</a>               
                     <a href="/home/delete?id=${data}" class="btn btn-danger mx-2"> <i class="bi bi-pencil-square"></i>Delete</a>               
                    </div>`
                }
            }
        ]
    });
}
    </script>
}