@model BillerFormDataset
<div class="card">
    <div class="card-header">
        <h1>Biller Data Set</h1>
    </div>
    <form>
        <div class="card-body">
           
            <div class="form-horizontal">
                <div class="row">
                    <h5 class="card-title">Add new Biller Dataset</h5>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Dataset Name</label>
                            <input id="datasetName" asp-for="DatasetName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Unique Id</label>
                            <input id="uniqueId" asp-for="UniqueId" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Biller</label>
                            @Html.DropDownListFor(model => model.BillerId, (SelectList)ViewBag.BillerList, "Select a Biller", new { @class = "form-control" ,@id="billerId"})
                        </div>
                    </div>
                    <div class="col-6">
                        <div class="form-group">
                            <label>Created By</label>
                            <input id="createdBy" asp-for="CreatedBy" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Created At</label>
                            <input id="createdAt" asp-for="CreatedAt" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Updated By</label>
                            <input id="updatedBy" asp-for="UpdatedBy" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Updated At</label>
                            <input id="updatedAt" asp-for="UpdatedAt" class="form-control" />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-horizontal mb-3">
                <div class="row pt-4">
                    <h3 class="card-title">Biller Dataset Fields</h3>
                     <div class="col-sm-4">
                        <div class="form-group">
                            <label>Field Name</label>
                            <input type="text" id="FieldName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Max Length</label>
                            <input type="number" id="MaxLength" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Regex</label>
                            <input type="text" id="regex" class="form-control"/>
                        </div>
                        <div class="form-group">
                            <label>Created By</label>
                            <input type="number" id="CreatedBy" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Created At</label>
                            <input type="datetime-local" id="CreatedAt" class="form-control" />
                           
                        </div>
                    </div>

                    <div class="col-sm-4">

                        <div class="form-group">
                            <label>Min Value</label>
                            <input type="number" id="minValue" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Max Value</label>
                            <input type="number" id="maxValue" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Field Order</label>
                            <input type="number" id="fieldOrder" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Friendly Field Name</label>
                            <input type="text" id="friendlyFieldName" class="form-control" />
                        </div>
                        <div class="form-group">
                            <label>Updated By</label>
                            <input type="number" id="UpdatedBy" class="form-control" />
                        </div>

                        <div class="form-group">
                            <label>Updated At</label>
                            <input type="datetime-local" id="UpdatedAt" class="form-control" />
                        </div>

                    </div>

                    <div class="col-sm-4">


                        <div class="form-group">
                            <label>Field Type</label>
                            @Html.DropDownList("SelectedValue", (IEnumerable<SelectListItem>)ViewBag.FieldTypeList, "-- Select --", new { @class = "form-control" ,@id="fieldTypeId"})
                        </div>

                        <div class="form-group">
                            <label>Dataset</label>
                            @Html.DropDownList("SelectedValue", (IEnumerable<SelectListItem>)ViewBag.DatasetList, "-- Select --", new { @class = "form-control",@id="datasetId" })
                        </div>

                        <div class="form-group">
                            <label>Is Mandatory</label>
                            <input type="radio" name="SelectedValueForMandatory" value="1">True
                            <input type="radio" name="SelectedValueForMandatory" value="0">False
                        </div>

                        <div class="form-group">
                            <label>Is Active</label>
                            <input type="radio" name="SelectedValueActive" value="1">True
                            <input type="radio" name="SelectedValueActive" value="0">False
                        </div>
                        <div class="col-md-4 col-lg-offset-4">
                            <a id="addToList" class="btn btn-primary">Add To List</a>
                        </div>
                    </div>
                </div>

                <table id="detailsTable" class="table">
                    <thead class="mt-4">
                        <tr>
                            <th>Field Name</th>
                            <th>Max Length</th>
                            <th>Regex</th>
                            <th>Created By</th>
                            
                            <th>Created At</th>
                            <th>Min Value</th>
                            <th>Max Value</th>
                            <th>Field Order</th>
                            <th>Friendly Field Name</th>
                            
                            <th>Updated By</th>
                            <th>Updated At</th>
                            <th>IsMandatory</th>
                            <th>IsActive</th>
                            <th>Field Type</th>
                            <th>Dataset</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
  
        </div>
        <div class="modal-footer">
            <button id="saveOrder" type="submit" class="btn btn-danger">Save Details</button>
        </div>
    </form>
   
</div>


@section scripts{
    <script>

        //Add Multiple Order.
        $("#addToList").click(function (e) {
            e.preventDefault();

            if ($.trim($("#fieldTypeId").val()) == "" || $.trim($("#datasetId").val()) == "") return;

            var FieldName = $("#FieldName").val(),
                MaxLength = $("#MaxLength").val(),
                Regex = $("#regex").val(),
                CreatedBy = $("#CreatedBy").val(),
                CreatedAt = $("#CreatedAt").val(),
                MinValue = $("#minValue").val(),
                MaxValue = $("#maxValue").val(),
                FieldOrder = $("#fieldOrder").val(),
                FriendlyFieldName = $("#friendlyFieldName").val(),
                UpdatedBy = $("#UpdatedBy").val(),
                UpdatedAt = $("#UpdatedAt").val(),
                IsMandatory = document.querySelector("input[name='SelectedValueForMandatory']:checked").value,
                IsActive = document.querySelector("input[name='SelectedValueActive']:checked").value,
                FieldType = $("#fieldTypeId").val(),
                Dataset = $("#datasetId").val(),
                detailsTableBody = $("#detailsTable tbody");

            var productItem = '<tr><td>' + FieldName + '</td><td>' + MaxLength + '</td><td>' + Regex + '</td><td>' + CreatedBy + '</td><td>' + CreatedAt + '</td><td>' + MinValue + '</td><td>' + MaxValue + '</td><td>' + FieldOrder + '</td><td>' + FriendlyFieldName + '</td><td>' + UpdatedBy + '</td><td>' + UpdatedAt + '</td><td>' + IsMandatory + '</td><td>' + IsActive + '</td><td>' + FieldType + '</td><td>' + Dataset + '</td><td><a data-itemId="0" href="#" class="deleteItem">Remove</a></td></tr>';
            detailsTableBody.append(productItem);
            clearItem();
        });
        //After Add A New Order In The List, Clear Clean The Form For Add More Order.
        function clearItem() {
            $("#FieldName").val('');
            $("#MaxLength").val('');
            $("#regex").val('');
            $("#CreatedBy").val('');
            $("#CreatedAt").val('');
            $("#minValue").val('');
            $("#maxValue").val('');
            $("#fieldOrder").val('');
            $("#friendlyFieldName").val('');
            $("#UpdatedBy").val('');
            $("#UpdatedAt").val('');
            //const isMandatory = document.querySelector("input[name='SelectedValueForMandatory']");

            //for (let radioButton of isMandatory) {
            //    radioButton.checked = false;
            //}
            //const isActive = document.querySelector("input[name='SelectedValueActive']");

            //for (let radioButton of isActive) {
            //    radioButton.checked = false;
            //}
            //const fieldTypeDropdown = document.getElementById("fieldTypeId");
            //fieldTypeDropdown.selectedIndex = -1;

            //const datasetDropdown = document.getElementById("datasetId");
            //datasetDropdown.selectedIndex = -1;
        }
        // After Add A New Order In The List, If You Want, You Can Remove It.
        $(document).on('click', 'a.deleteItem', function (e) {
            e.preventDefault();
            var $self = $(this);
            if ($(this).attr('data-itemId') == "0") {
                $(this).parents('tr').css("background-color", "#ff6347").fadeOut(800, function () {
                    $(this).remove();
                });
            }
            clearItem();
        });
        //After Click Save Button Pass All Data View To Controller For Save Database
        function saveOrder(data) {
            var jsonData = JSON.stringify(data);
            console.log(data);
            return $.ajax({
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                type: 'POST',
                url: "/Home/SaveOrder",
                data: jsonData,
                success: function (result) {
                    alert(result);
                    location.reload();
                },
                error: function () {
                    alert("Error!")
                }
            });
        }


        //Collect Multiple Order List For Pass To Controller
        $("#saveOrder").click(function (e) {
            e.preventDefault();

            var orderArr = [];
            orderArr.length = 0;

            $.each($("#detailsTable tbody tr"), function () {
                orderArr.push({

                    fieldName : $(this).find('td:eq(0)').html(),
                    maxLength: $(this).find('td:eq(1)').html(),
                    regex: $(this).find('td:eq(2)').html(),
                    createdBy: $(this).find('td:eq(3)').html(),
                    createdAt: $(this).find('td:eq(4)').html(),
                    minValue: $(this).find('td:eq(5)').html(),
                    maxValue: $(this).find('td:eq(6)').html(),
                    fieldOrder: $(this).find('td:eq(7)').html(),
                    friendlyFieldName: $(this).find('td:eq(8)').html(),
                    updatedBy: $(this).find('td:eq(9)').html(),
                    updatedAt: $(this).find('td:eq(10)').html(),
                    isMandatory: $(this).find('td:eq(11)').html(),
                    isActive: $(this).find('td:eq(12)').html(),
                    fieldTypeId: $(this).find('td:eq(13)').html(),
                    datasetId: $(this).find('td:eq(14)').html()
                });
            });
            

            var data = {
                datasetName: $("#datasetName").val(),
                uniqueId: $("#uniqueId").val(),
                billerId: $("#billerId").val(),
                createdBy: $("#createdBy").val(),
                createdAt: $("#createdAt").val(),
                updatedBy: $("#updatedBy").val(),
                updatedAt: $("#updatedAt").val(),
                order: orderArr 
            };

           

            $.when(saveOrder(data)).then(function (response) {
                console.log(response);
            }).fail(function (err) {
                console.log(err);
            });
        });


    </script>
}