@model BillerFormDatasetField

<h2>Create Biller Form Dataset Field</h2>

<form asp-action="Create">
    <div class="row">
        <div class="col-sm-4">
            <div class="form-group">
                <label asp-for="FieldName"></label>
                <input asp-for="FieldName" class="form-control" />
            </div>
        
            <div class="form-group">
                <label asp-for="MaxLength"></label>
                <input asp-for="MaxLength" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="Regex"></label>
                <input asp-for="Regex" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreatedBy"></label>
                <input asp-for="CreatedBy" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="CreatedAt"></label>
                <input asp-for="CreatedAt" class="form-control" />
            </div>
           
        </div>
        <div class="col-sm-4">
         
            <div class="form-group">
                <label asp-for="MinValue"></label>
                <input asp-for="MinValue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="MaxValue"></label>
                <input asp-for="MaxValue" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FieldOrder"></label>
                <input asp-for="FieldOrder" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="FriendlyFieldName"></label>
                <input asp-for="FriendlyFieldName" class="form-control" />
            </div>
        
          
            <div class="form-group">
                <label asp-for="UpdatedBy"></label>
                <input asp-for="UpdatedBy" class="form-control" />
            </div>
            <div class="form-group">
                <label asp-for="UpdatedAt"></label>
                <input asp-for="UpdatedAt" class="form-control" />
            </div>
        </div>
        <div class="col-sm-4">
            <div class="form-group">
                <label>Field Type</label>
                @Html.DropDownListFor(model => model.FieldTypeId, (SelectList)ViewBag.FieldTypeList, "Select a File Type", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Dataset</label>
                @Html.DropDownListFor(model => model.DatasetId, (SelectList)ViewBag.DatasetList, "Select a Dataset", new { @class = "form-control" })
            </div>
            <div class="form-group">
                <label>Is Mandatory</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsMandatory" value="true" />
                    <label class="form-check-label">True</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsMandatory" value="false" />
                    <label class="form-check-label">False</label>
                </div>
            </div>
            <div class="form-group">
                <label>Is Active</label>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsActive" value="true" />
                    <label class="form-check-label">True</label>
                </div>
                <div class="form-check">
                    <input class="form-check-input" type="radio" asp-for="IsActive" value="false" />
                    <label class="form-check-label">False</label>
                </div>
            </div>
        </div>
    </div>
 
 
    
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<a asp-action="Index">Back to List</a>
